body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    z-index: -1;
}
.profile-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 110px;
}
.img-icon{
    position: absolute;
    top: 170px;
    left: 230px;
}
.img-icon img{
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
.img-icon img:hover{
    width: 26px;
    height: 26px;
}
svg:hover > *{
    fill: #0bdfaa;
}
.link-list{
    position: absolute;
    top: 30px;
    right: 30px;
}
.link-list svg{
    margin: 0 5px;
}
.prj-div{
    width: 89%;
    margin: auto;

    display: flex;
    padding: 10px 20px;
}
.prj-div img{
    width: 200px;
    border: 1px solid #000;
}
.dependency-div{
    width: 300px;
    margin-left: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
.dependency-div h3{
    color: rgb(110, 168, 71);
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.dependency-div a{
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

#h-title{
    position: absolute;
    top: 200PX;
    left: 225px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card-div{
    width: 90vw;
    margin: auto;
    border-radius: 5px;
    border: 2px solid rgba(47, 47, 185, 0.678);
    padding-bottom: 20px;
}
.card-div:hover{
    box-shadow: 2px 2px 15px rgba(47, 47, 185, 0.63);
}
.card-div p{
    width: 95%;
    margin: auto;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}
.respon-div{
    margin: 0 20px;
    text-align: justify;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.card-div ul{
    margin-left: 10px;
}
.card-div h2{
    position: relative;
    top: -25px;
    width: 250px;
    margin-left: 20px;
    background-color: #fff;
}

.footer-div{
    text-align: center;
    background-color: #000000b6;
    color: #fff;
    padding-top: 10px;
}
.svg-div{
    text-align: center;
    background-color: #000000b6;
    padding: 20px 0;
}
.svg-div svg{
    margin: 0 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #0000000c;
}
.svg-div svg:hover{
   border-bottom: 3px solid #0bdfaa;
}
.cert-div{
    margin-left: 40px;
}
.cert-svg{
    display: flex;
    margin-bottom: 10px;
}

